* {
  margin: 5;
  padding: 0;
  box-sizing: border-box; }
  * *::-webkit-scrollbar {
    display: none; }

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: #dfdfdf solid 3px;
  padding: 0 10px 5px 10px;
  height: 40px;
  background-color: white;
  z-index: 1000; }

.logo {
  color: #f6af44;
  display: flex;
  flex-direction: row; }

.logo:hover {
  cursor: pointer; }

.search {
  width: 30%;
  display: flex;
  flex-direction: row; }

.search > input {
  width: 100%;
  height: 25px; }

.search > input:hover {
  border-color: rebeccapurple; }

.icon-size {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center; }

.img-size {
  object-fit: cover;
  width: 80%;
  height: 80%; }

.icom-hover:hover {
  background-color: #dfdfdf;
  cursor: pointer; }

.menu {
  display: flex;
  flex-direction: row; }

.menu > div:first-child {
  margin-right: 10px; }

.dropbtn {
  background-color: #f6af44;
  border-radius: 50%;
  width: 30px;
  height: 30px; }

.dropdown {
  position: relative;
  display: inline-block; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 160px;
  left: -145px;
  top: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

.dropdown-content a:hover {
  background-color: #ddd; }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown:hover .dropbtn {
  background-color: #dfdfdf;
  cursor: pointer; }

.aside {
  flex: 0 18%;
  position: fixed;
  top: 40px;
  left: 0;
  height: calc(100vh - 170px); }

.avatars-list {
  background-color: #ebebeb;
  font-size: 0.8rem;
  height: 100%;
  overflow: scroll; }

.avatars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 7%; }

.avatars:hover {
  background-color: #dfdfdf;
  cursor: pointer; }

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-overflow: ellipsis; }

.avatar > span:hover {
  color: mediumslateblue; }

.img-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px; }

.img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.subscribers {
  display: flex;
  align-items: center; }

.is-online {
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: red;
  margin-right: 3px;
  animation: flash 1500ms infinite; }

.info {
  background-color: #ebebeb;
  margin-top: 2px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center; }

.info > div {
  background-color: #dfdfdf;
  width: 90%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }

.info > div > div::selection {
  background-color: #f6af44;
  color: white; }

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  width: 90%;
  padding-top: 10px; }

.icon {
  background-color: green;
  border-radius: 50%;
  width: 25px;
  height: 25px; }

.icon:hover {
  background-color: blue;
  cursor: pointer; }

.main {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
  overflow: hidden;
  height: 100%;
  margin-top: 45px;
  margin-left: 225px; }

.category {
  display: flex;
  flex-direction: row;
  height: 25px;
  margin-left: 15px; }

.category button {
  border-radius: 20px;
  margin: 0 5px;
  padding: 0 7px;
  border-color: #dfdfdf; }

.category button:hover {
  background-color: #dfdfdf;
  cursor: pointer; }

.category > button:first-child {
  background-color: #f6af44;
  color: white; }

.carousel {
  width: 100%;
  height: 300px; }

.carousel-card {
  width: 450px;
  height: 200px;
  background-color: #ebebeb;
  display: flex; }

.shadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.carousel-img {
  width: 320px;
  height: auto; }

.videos {
  width: 100%;
  display: grid;
  height: auto;
  grid-template: repeat(auto-fit, 200px)/repeat(auto-fit, 330px);
  grid-auto-flow: row;
  justify-content: center;
  gap: 10px; }

.videos-img-width {
  width: 330px; }

.videos-img {
  width: 330px;
  height: 160px;
  overflow: hidden; }

.videos-info {
  display: flex;
  flex-direction: row;
  margin-top: 5px; }
  .videos-info .videos-info-img {
    margin-top: 5px;
    margin-left: 5px; }
  .videos-info .videos-info-text {
    font-size: 0.8rem;
    font-weight: bolder; }
  .videos-info .videos-info-name {
    font-size: 0.6rem; }

.videos-info-text:hover {
  color: cornflowerblue;
  cursor: pointer; }

.videos-info-name::selection {
  background-color: #f6af44;
  color: white; }

.container {
  position: relative;
  width: 100%; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0; }

.overlay-img {
  width: 32px;
  height: auto;
  position: absolute;
  top: 42%;
  left: 47%; }

.container:hover .overlay {
  animation: fade-footprint 0.8s ease forwards; }

.container:hover .carousel-img {
  animation: fade 0.8s ease forwards; }

.footer {
  align-self: center;
  margin-top: 50px; }

@media screen and (max-width: 1200px) {
  .hide {
    display: none; }
  .aside {
    flex: 0 3%;
    height: 100vh; }
  .main {
    margin-left: 40px; } }

@keyframes flash {
  0% {
    background-color: #ebebeb;
    box-shadow: 0 0 2px #ebebeb; }
  50% {
    background-color: red;
    box-shadow: 0 0 9px red; }
  100% {
    background-color: #ebebeb;
    box-shadow: 0 0 2px #ebebeb; } }

@keyframes fade {
  from {
    opacity: 1; }
  to {
    opacity: 0.5; } }

@keyframes fade-footprint {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

