@keyframes flash {
    0% {
        background-color: $color_aside;
        box-shadow: 0 0 2px $color_aside;
    }
    50% {
        background-color: red;
        box-shadow: 0 0 9px red;
    }
    100% {
        background-color: $color_aside;
        box-shadow: 0 0 2px $color_aside;
    }
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes fade-footprint {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}