.aside {
    flex: 0 18%;
    position: fixed;
    top: 40px;
    left: 0;
    height: calc(100vh - 170px);
}

.avatars-list {
    background-color: $color_aside;
    font-size: 0.8rem;
    height: 100%;
    overflow: scroll;
}

.avatars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 7%;
}

.avatars:hover {
    background-color: $color_aside_dark;
    cursor: pointer;
}

.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-overflow: ellipsis;
}

.avatar > span:hover {
    color: mediumslateblue;
}

.img-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.subscribers {
    display: flex;
    align-items: center;
}

.is-online {
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: red;
    margin-right: 3px;
    animation: flash 1500ms infinite;
}

.info {
    background-color: $color_aside;
    margin-top: 2px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info > div {
    background-color: $color_aside_dark;
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.info > div > div::selection {
    background-color: $color_logo;
    color: white;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
    width: 90%;
    padding-top: 10px;
}

.icon {
    background-color: green;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.icon:hover {
    background-color: blue;
    cursor: pointer;
}
