.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: $color_aside_dark solid 3px;
    padding: 0 10px 5px 10px;
    height: 40px;
    background-color: white;
    z-index: 1000;
}

.logo {
    color: $color_logo;
    display: flex;
    flex-direction: row;
}

.logo:hover {
    cursor: pointer;
}

.search {
    width: 30%;
    display: flex;
    flex-direction: row;
}

.search > input {
    width: 100%;
    height: 25px;
}

.search > input:hover {
    border-color: rebeccapurple;
}

.icon-size {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-size {
    object-fit: cover;
    width: 80%;
    height: 80%;
}

.icom-hover:hover {
    background-color: $color_aside_dark;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu > div:first-child {
    margin-right: 10px;
}

.dropbtn {
    background-color: $color_logo;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 160px;
    left: -145px;
    top: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover {
    .dropdown-content {
        display: block;
    }
    .dropbtn {
        background-color: $color_aside_dark;
        cursor: pointer;
    }
}
