* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
  *::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
