.main {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    overflow: hidden;
    height: 100%;
    margin-top: 45px;
    margin-left: 225px;
}

.category {
    display: flex;
    flex-direction: row;
    height: 25px;
    margin-left: 15px;
}

.category button {
    border-radius: 20px;
    margin: 0 5px;
    padding: 0 7px;
    border-color: $color_aside_dark;
}

.category button:hover {
    background-color: $color_aside_dark;
    cursor: pointer;
}

.category > button:first-child {
    background-color: $color_logo;
    color: white;
}

.carousel {
    width: 100%;
    height: 300px;
}

.carousel-card {
    width: 450px;
    height: 200px;
    background-color: $color_aside;
    display: flex;
}

.shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.carousel-img {
    width: 320px;
    height: auto;
}

.videos {
    width: 100%;
    display: grid;
    height: auto;
    grid-template: repeat(auto-fit, 200px) / repeat(auto-fit, 330px);
    grid-auto-flow: row;
    justify-content: center;
    gap: 10px;
}

.videos-img-width {
    width: 330px;
}

.videos-img {
    width: 330px;
    height: 160px;
    overflow: hidden;
}

.videos-info {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    .videos-info-img {
        margin-top: 5px;
        margin-left: 5px;
    }
    .videos-info-text {
        font-size: 0.8rem;
        font-weight: bolder;
    }
    .videos-info-name {
        font-size: 0.6rem;
    }
}

.videos-info-text:hover {
    color: cornflowerblue;
    cursor: pointer;
}

.videos-info-name::selection {
    background-color: $color_logo;
    color: white;
}

.container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

.overlay-img {
    width: 32px;
    height: auto;
    position: absolute;
    top: 42%;
    left: 47%;
}

.container:hover .overlay {
    animation: fade-footprint 0.8s ease forwards;
    // opacity: 1;
}

.container:hover .carousel-img {
    animation: fade 0.8s ease forwards;
}

.footer {
    align-self: center;
    margin-top: 50px;
}
